%% vim: syntax=erlang

{deps, [{webmachine, "1.10.*", {git, "git://github.com/basho/webmachine", "HEAD"}},
        {covertool, ".*", {git, "git@github.com:miranetworks/covertool.git", {branch, "master"}}},
        {pgdb_tools, ".*", {git, "git@github.com:miranetworks/core_pgdb_tools.git", {branch, "master"}}}
       ]}.

{sub_dirs, ["rel"]}.
{deps_dir, ["deps"]}.

{require_otp_vsn, "R14|R15"}.

{clean_files, ["*.eunit", "ebin/*.beam", "rel/estatsdb"]}.

{cover_enabled, true}.
%% R14 has no -callback() support. R15 has (R15B, to be specific)
{erl_opts, [{platform_define, "R14", 'NO_CALLBACK_SUPPORT'}]}.

{eunit_opts, [verbose, {report, {eunit_surefire, [{dir, "."}]}}]}.

{plugins, [rebar_covertool]}.
{covertool_eunit, ".eunit/eunit.coverage.xml"}. % Output report file name

{edoc_opts, [
             {packages, false},
             {new, true},
             {hidden, true},
             {subpackages, true},
             {preprocess, true}, 
             {report_missing_types, true},
             {macros, [{'NO_CALLBACK_SUPPORT', true}]} % Workaround to build docs on pre-R15 versions
            ]}.
