[
    %% SASL config
    {sasl, [
        {sasl_error_logger, {file, "log/sasl-error.log"}},
        {errlog_type, error},
        {error_logger_mf_dir, "log/sasl"},      % Log directory
        {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
        {error_logger_mf_maxfiles, 5}           % 5 files max
    ]},

    { estatsdb, [
        {schemas, ["public"]},
        {web_config, [{ip, "0.0.0.0"},
                      {port, 2504},
                      {backlog, 128},
                      {acceptor_pool_size, 50}
                     ]}
    ]},

    %% Kernel config
    {kernel, [
        {error_logger, {file, "./log/kernel.log"}}
    ]},

    % Enable webmachine access logs.
    {webmachine, [{webmachine_logger_module, webmachine_logger}]},

    % The epgsql_pool database options that can be specified are:
    %  host - host to connect to, default "localhost".
    %  port - port to connect to, default 5432.
    %  username - username to authenticate with, default os:getenv("USER").
    %  password  - password to authenticate with, default "".
    %  database  - database to connect to, no default.
    %
    % Example:
    % {epgsql_pool,  [{pools, [db1, db2]},
        %                 {db1, {10, [{database, "db1"}]}},
        %                 {db2, {10, [{database, "db2"}]}}
        %                ]}.

    {epgsql_pool,  [{pools, [estatsdb]},
                    {estatsdb, {50, % The pool size. Make sure Postgres is set up to be able to
                               % provide this many connections (and a few more for ops purposes).
                               [{database, "estatsdb"},
                                {username, "estatsdb"},
                                {password, "password"},
                                {port, 5432}]}
                    }
                   ]
    }

].

